<div class="iapp-panel intro-panel active">
    <div class="iapp-img-wrap">
        <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/spring-clean-flowchart/img/logo.svg" alt="How do I get rid of that?" />
    </div>
    <h1>Intro</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="iapp-button iapp-button-green iapp-begin-button">
        <div class="iapp-button-text">
            Begin
        </div>
    </div>
</div>
