
<div class="iapp-img-wrap small">
        <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/spring-clean-flowchart/img/logo.svg" alt="How do I get rid of that?" />
    </div>

<h3 class="iapp-question-text"><%=question_text%></h3>
<div class="yes-wrap">
    <div class="iapp-button iapp-button-green iapp-yes-button">
        <div class="iapp-button-text">yes</div>
    </div>
    <div class="iapp-arrow-wrap">
        <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/spring-clean-flowchart/img/left-arrow.svg" alt="" />
    </div>
</div>
<div class="iapp-button iapp-back-button">
    <div class="iapp-button-text">
        back
    </div>
</div>
<div class="no-wrap">
    <div class="iapp-button iapp-button-green iapp-no-button">
        <div class="iapp-button-text">no</div>
    </div>
    <div class="iapp-arrow-wrap">
        <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/spring-clean-flowchart/img/right-arrow.svg" alt="" />
    </div>
</div>
