.iapp-panel {
    text-align: center;
}

.iapp-arrow-wrap {
    width: 75px;
    img {
        width: 100%;
    }
}

.yes-wrap {
    position: absolute;
    left: 0;
}

.no-wrap {
    position: absolute;
    right: 10px;
    .arrow-wrap {
        img {
            display: block;
        }
    }
}

.iapp-question-text {
    font-family: "Futura Today Light", Arial, sans-serif;
    font-size: 1.75em;
    @media(max-width: 600px) {
        font-size: 1.2em;
    }
    a {
        color: $green;
        &:visited {
            color: $green;
        }
    }
}

.iapp-back-button {
    left: 50%;

    position: absolute;
    transform: translate(-50%, 0);
}
